.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.5s ease-in-out;
}

.modal .button {
  margin: 0 auto;
  padding: 1rem 3rem;
  text-decoration: none;
  background: none;
  border: 2px #0077ff solid;
  cursor: pointer;
}

.modal .button:hover {
  color: white;
  background: #0077ff;
  transition: 0.5s;
}
.modal-content {
  background: #f4f4f4;
  margin: 8vh auto;
  width: 700px;
  max-width: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border-radius: 2px;
}

.modal-close {
  animation-name: modalclose;
  animation-duration: 0.5s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  padding: 10px;
  text-align: center;
  box-sizing: inherit;
  display: flex;
  justify-content: space-around;

  background: none;
}

.modal-footer a {
  background: none;
  color: black;
}

@media screen and (max-width: 400px) {
  .modal {
    top: 8vh;
  }

  .modal-content {
    background: #f4f4f4;
    margin: 8vh auto;
    width: 700px;
    max-width: 100%;
    max-height: 100%;
  }

  .modal-content img {
    max-width: 100%;
  }

  .modal .button {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    text-decoration: none;
    background: none;
    border: 2px #0077ff solid;
    cursor: pointer;
  }
}
