* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #555555;
}

.logo {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.fa-bars {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .fa-bars {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
