* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #555555;
  z-index: 999;
}

.logo {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
  position: fixed;
  right: 0%;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-links li {
  list-style: none;
}

.fa-bars {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

.fa-slash {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }

  .placeholder-image1 {
    max-width: 100%;
    max-height: 70%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    cursor: pointer;
    opacity: 0.8;
  }

  .nav-links li {
    opacity: 0;
  }

  .fa-bars {
    display: block;
  }
  .fa-slash {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-collapse {
    transform: translateX(100%);
  }

  .placeholder-image1 {
    max-width: 100%;
    max-height: 50%;
    display: block;
  }
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.placeholder-image1 {
  padding-top: 8vh;
  height: 96vh;
}
