* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
/* NavBar */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #555555;
  z-index: 999;
}

.logo {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
  position: fixed;
  right: 0%;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-links li {
  list-style: none;
}

.fa-bars {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

.fa-slash {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

/* Main site functionality */
.placeholder-image1 {
  padding-top: 8vh;
  height: 96vh;
}

.section-text {
  text-align: center;
  /* height: 35vh; */
  font-size: 2.7rem;
}

/* Projects Section */

.project-text {
  padding: 4vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 335px;
  grid-gap: 0;
}

.container .card {
  position: relative;
  overflow: hidden;
  height: 335px;
  max-width: 500px;
  width: calc(50vw - 8px);
}

.container .card .img-box {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.button {
  margin: 0 auto;
  font-size: 13pt;
  padding: 7px 0;
}

.container .card:hover .img-box {
  opacity: 0;
}

.container .card .content .caption {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 125%;
  text-align: center;
}

.container .card:hover .content .caption {
  bottom: 25%;
  transition: 0.5s;
}

.caption h2 {
  font-size: 2rem;
}

.caption p {
  color: #0077ff;
  font-size: 1.5rem;
}

.container .card:hover .content .button {
  top: 75%;
  transition: 0.5s;
}

.container .card .content .button {
  position: absolute;
  padding: 1rem 3rem;
  margin: 0 auto;
  text-decoration: none;
  background: #fff;
  border: 2px #0077ff solid;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  left: 30%;
  top: 100%;
  text-align: center;
}

.container .card .content .button:hover {
  transition: 0.5s;
  background: #0077ff;
  color: white;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }

  .placeholder-image1 {
    max-width: 100%;
    max-height: 70%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    cursor: pointer;
    opacity: 0.8;
  }

  .fa-bars {
    display: block;
  }
  .fa-slash {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-collapse {
    transform: translateX(100%);
  }

  .placeholder-image1 {
    max-width: 100%;
    max-height: 50%;
    display: block;
  }

  /* Mobile */

  @keyframes navlinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .section-projects {
    padding-left: 4rem;
  }
  .project-info {
    grid-template-areas:
      "project-1"
      "project-2"
      "project-3"
      "project-4";

    grid-template-columns: 1fr;
  }
}
