* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
/* NavBar */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #555555;
  z-index: 999;
}

.logo {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
  position: fixed;
  right: 0%;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-links li {
  list-style: none;
}

.fa-bars {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

.fa-slash {
  color: whitesmoke;
  display: none;
  cursor: pointer;
}

/* Main site functionality */
.placeholder-image1 {
  padding-top: 8vh;
  height: 96vh;
}

.section-text {
  text-align: center;
  /* height: 35vh; */
  font-size: 2.7rem;
}

/* Projects Section */

.project-text {
  padding: 4vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50%;
  grid-gap: 0;
  grid-auto-flow: dense;
}

.container .card {
  position: relative;
  overflow: hidden;
  height: 335px;
  max-width: 500px;
  display: flex;
}

.container .card .img-box {
  position: absolute;
  top: 0;
  left: 0%;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
}

.container .card:hover .img-box {
  opacity: 0;
  transition: 0.5s;
}

.container .card .content {
  width: 100%;
  display: flex;
}

.container .card .content .button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  height: 125%;
}

.container .card .content .caption {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 125%;
  text-align: center;
}

.container .card:hover .content .caption {
  bottom: 25%;
  transition: 0.5s;
}

.caption h2 {
  font-size: 2rem;
}

.caption p {
  color: #0077ff;
  font-size: 1.5rem;
}

.container .card:hover .content .button-container {
  transform: translateY(-25%);
  transition: 0.5s;
}

.button-container {
  display: flex;
  flex-direction: column;
}
.container .card .content button {
  position: absolute;
  position: inherit;
  padding: 1rem 3rem;
  margin: 0 auto;
  text-decoration: none;
  background: #fff;
  border: 2px #0077ff solid;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  left: 20%;
  top: 100%;
  text-align: center;
}

.container .card .content button:hover {
  transition: 0.5s;
  background: #0077ff;
  color: white;
}

/* Contact Me */

.contact-text {
  text-align: center;
  vertical-align: top;
  position: relative;
  top: -5vh;
}

.section-contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 4vh;
}

form {
  font-size: 1rem;
  font-weight: 500;
}

form label {
  display: inline-block;
}

.container form textarea,
.container form input {
  width: 60vh;
  float: right;
  margin-top: 0.6rem;
  height: 40px;
  padding-left: 10px;
}

.container form input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1.2rem;
  border-radius: 4px;
  border: 1px solid rgba(55, 55, 55, 0.3);
}

.container form input:focus {
  outline: #555555;
}

.container form textarea {
  margin-bottom: 15px;
  padding-top: 10px;
  height: 100px;
  border: 1px solid rgba(55, 55, 55, 0.3);
  border-radius: 4px;
}

.container form textarea {
  outline: #555555;
}
.container form button {
  display: block;
  background: white;
  border: 2px #0077ff solid;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 1.5px;
}

.container form button:hover {
  background: #0077ff;
  color: white;
  transition: 0.5s;
}

.container form label {
  display: inline-block;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* .brand {
  text-align: center;
}

.brand span {
  color: #0077ff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.contact-info {
  background: #c9e6ff;
}

.contact-form {
  background: #a5a5a5;
}

.contact-info h3,
.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
} */

/* Form Styles */

/*  */
/* .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
}

.contact-form form .full {
  grid-column: 1 /3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 1em;
}

.contact-form form button {
  background: white;
  border: 2px #0077ff solid;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  left: 20%;
}

.contact-form form button:hover {
  transition: 0.5s;
  background: #0077ff;
  color: white;
}

/* Desktop View contact form */

/* @media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }
  .contact-info h3,
  .contact-info ul,
  .brand {
    text-align: left;
  }
}

.contact-text {
  height: 20vh;
  text-align: center;
} */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 42%;
  }

  .placeholder-image1 {
    max-width: 100%;
    max-height: 70%;
    display: block;
  }

  .section-projects .container {
    max-width: 750px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: vh;
    grid-gap: 0;
  }

  .container .card {
    position: relative;
    height: 250px;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 0%;
  }

  /* .container .card .content button {
    position: absolute;
    padding: 1rem 3rem;
    text-decoration: none;
    background: #fff;
    border: 2px #0077ff solid;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    left: 23%;
    top: 100%;
    text-align: center;
  } */

  .container .card:hover .content .caption {
    left: 0;
  }

  .card .img-box {
    width: 100%;
  }
  .card .img-box img {
    width: 100%;
  }
  .container .card .content {
    width: 100%;
  }

  .container .card:hover .content .button-container {
    transform: translateY(-25%);
  }

  /* Projects */
}

@media screen and (max-width: 768px) {
  nav {
    height: 7vh;
  }
  nav .logo {
    font-size: 1rem;
  }
  .nav-links {
    right: 0px;
    height: 93vh;
    top: 7vh;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    cursor: pointer;
    opacity: 0.9;
    padding: 1rem;
  }

  .nav-links li {
    font-size: 1.6rem;
  }

  .fa-bars {
    display: block;
    padding: 1rem;
  }
  .fa-slash {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-collapse {
    transform: translateX(100%);
  }

  .placeholder-image1 {
    max-width: 100%;
    max-height: 50%;
    display: block;
  }

  /* Mobile Nav animation*/

  @keyframes navlinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .section-projects .container {
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-content: center;
  }

  .container .card {
    padding-left: 0%;
  }

  .section-projects .container .card .content .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  /* .container .card .content button {
    display: inline-block;
    background: white;
    border: 2px #0077ff solid;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    border-radius: 1.5px;
  } */

  .container .card .content {
    width: 100%;
  }
  /* 
  .container .card .content button {
    position: absolute;
    padding: 1rem 3rem;
    text-decoration: none;
    background: #fff;
    border: 2px #0077ff solid;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    left: 23%;
    top: 100%;
    text-align: center;
  } */

  /* Projects */
  .section-text {
    padding-top: 12vh;
    margin: 0 auto;
  }

  /* Contact */

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .container form textarea,
  .container form input {
    width: 40vh;
    float: right;
    margin-top: 0.6rem;
    height: 40px;
  }

  .container form textarea {
    height: 40px;
    transition: 0.5s;
  }

  .container form textarea:focus {
    height: 80px;
    transition: 0.5s;
  }

  .button-container {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .section-projects {
    display: flex;
    justify-content: center;
  }

  .section-projects .container {
    max-width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .container .card {
    position: relative;
    overflow: hidden;
    height: 220px;
    max-width: 500px;
    width: calc(90vw - 8px);
    right: 40%;
  }

  .card .caption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .container .card img {
    height: 220px;
  }

  .container .card .content .button {
    position: absolute;
    padding: 1rem 3rem;
    text-decoration: none;
    background: #fff;
    border: 2px #0077ff solid;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    top: 100%;
    text-align: center;
  }

  .section-text {
    padding-top: 13vh;
    display: flex;
    justify-content: center;
  }

  .content .caption .placeholder-image1 {
    max-width: 100%;
    height: 70vh;
    display: block;
  }

  /* Contact  */

  .contact-text {
    margin: 0;
    padding: 0;
  }

  .contact-text h1 {
    padding-top: 22vh;
  }

  .container form {
    margin-top: 0%;
    padding-bottom: 100%;
    top: -6vh;
    position: relative;
  }
  .container form input {
    width: 250px;
    margin-top: 0.6rem;
    height: 30px;
  }

  .container form .wrapper textarea {
    width: 250px;
    margin-top: 0.6rem;
    height: 30px;
  }

  .container form .wrapper #message:focus {
    height: 50px;
    transition: 0.3s;
  }
}
